# --- CẤU HÌNH KẾT NỐI DATABASE ---
# Thay đổi các thông số bên dưới cho phù hợp với Database của bạn
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=your_password_here
DB_NAME=qlytnv

# --- CẤU HÌNH SERVER NODE.JS ---
PORT=5000
